<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.minimadev.starlove">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_starlove"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_starlove_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7555075543404286~3059374340"/>

        <activity
            android:name="br.com.minimadev.starlove.Login.LauncherActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.minimadev.starlove.Login.AuthenticationActivity" />
        <activity android:name="br.com.minimadev.starlove.Activity.EditProfileActivity" />
        <activity android:name="br.com.minimadev.starlove.Activity.ChatActivity" />
        <activity
            android:name="br.com.minimadev.starlove.Activity.MainActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity android:name="br.com.minimadev.starlove.Activity.ZoomCardActivity" />
        <activity android:name="br.com.minimadev.starlove.Activity.SettingsActivity"></activity>



    </application>

</manifest>